* {
  box-sizing:border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #4f4e4e 0%, #000000 100%);
  background-attachment: fixed;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  cursor: pointer;
}

.navbar {
  background-color: #e5e5e5;
  height: 50.5px;
  overflow: hidden;
}
 
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#credits, #credits a {
  color: #e5e5e5;
  font-size: 25px;
}

#credits {
  margin: 10px;
}

nav {
  float: left;
  margin: 0;
}

li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: #353535;
  display: inline-block;
  padding: 15px;
}

nav a:hover {
  color: #000000;
}

.error-container {
  position: fixed;
  top: -100px;
  right: 10px;
  background-color: red;
  border: 2px solid rgb(144, 0, 0);
  border-radius: 2px;
  color: white;
  padding: 10px;
  transition: top 0.5s ease;
}

.error-container.show {
  top: 30px;
}

.result-container {
  display: none;
  background: linear-gradient(180deg, #f1f1f1 0%, #ffffff 100%);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 2px 0 #000000;
  overflow: scroll;
  max-height: 95%;
  z-index: 10;
}

.result-container table {
  border-spacing: 1em;
  margin: 40px;
}

.result-container td {
  text-align: center;
}

.result-container.show {
  display: block;
}

.settingsMain, .settings {
  color: #e5e5e5;
  margin: 1em;
}

main p {
  margin: 10px;
  color: #e5e5e5;
}

#showSettings {
  background: linear-gradient(180deg, #f1f1f1 0%, #ffffff 100%);
  border-radius: 10px;
  position: fixed;
  top: 5%;
  right: 5%;
  box-shadow: 0 1px 2px 0 #000000;
  overflow: hidden;
  padding: 5px;
  display: none;
  overflow: hidden;
  height: auto;
  max-height: 25em;
  transition: max-height 0.5s ease;
}

#showSettings h4 {
  margin: 1px;
}

#saveSettings {
  display: block;
  margin-top: 2em;
}

.select-game {
  margin-top: 20px;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  align-items: flex-start;
}

.public-games {
  padding: 3px;
  margin: 1em;
  background: linear-gradient(45deg, #4f4e4e 0%, #dbdbdb 100%);
  border-radius: 5px;
  min-width: 17em;
  width: 40%;
  font-size: 20px;
  user-select: none;
}

.select-game-input {
  padding: 1em;
  display: flex;
  gap: 0.5em;
  align-items: flex-end
}

.games {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
}

.games div {
  padding: 3px;
  color: #e5e5e5;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(45deg, #000000 0%, #202020 100%);
  margin-top: 5px;
}

.nav-bar {
  background-color: #929292;
}

.select-game label {
  display: block;
  font-weight: bold;
  color: #ffffff;
}

.login {
  background: linear-gradient(180deg, #f1f1f1 0%, #ffffff 100%);
  width: 405px;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 2px 0 #000000;
}

#inputfield {
  display: flex;
  flex-wrap: wrap;
  width: min-content;
}

input[type=text],
button {
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  height: 44px;
  border-radius: 4px;
  outline: 0;
  margin: 4px;
}

input[type=text] {
  outline: 0;
  padding-left: 0.5em;
  border: 3px solid #222034;
  width: 200px;
}
input[type=text]:focus {
  border-color: #21d102 !important;
}

button {
  color: #000000;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #ffffff;
  border: 0;
  border-bottom: 2px solid #929292;
  cursor: pointer;
}
#login-button {
  background: #4f4e4e;
  color: #ffffff;
  border-color: #222034;
  margin-left: 10px;
  width: 80px;
}
#switchLogSign {
  width: 100%;
  display: block;
  font-weight: bold;
  color: #000000;
}
button:active {
  position: relative;
  transform: translateY(1px);
  border-bottom: 1px solid #929292;
}

#player2 {
  position: fixed;
  top: 12vh;
  left: 50%;
  transform: rotate(180deg);
}

#player1 {
  position: fixed;
  top: 50%;
  left: 12vh;
  transform: rotate(90deg);
}

#player3 {
  position: fixed;
  top: 50%;
  right: 12vh;
  transform: rotate(270deg);
}

#player0 {
  position: fixed;
  bottom: 25%;
  left: 50%;
  z-index: 2;
}

.card {
  position: absolute;
  height: 20vh;
  transform: rotate(calc(var(--i)*6deg)) translate(calc(var(--i)*2.5vh), -5vh);
  user-select: none;
}

#current_trick {
  position: fixed;
  bottom: 72%;
  left: 45%;
  z-index: 1;
}

.trickCard {
  position: absolute;
  height: 30vh;
  transform: rotate(calc(var(--i)*90deg + 180deg)) translate(-10%, -10%);
  user-select: none;
}

#player0 .card {
  cursor: pointer;
  height: 40vh;
  transition: transform 0.5s;
}

#player0 .card:hover, .card:focus-visible {
  transform: rotate(calc(var(--i)*6deg)) translate(calc(var(--i)*2.5vh), -17vh);
  outline: none;
}

.player-name {
  transition: 0.3s;
  position: fixed;
  color: white;
  font-size: 2vh;
  top: 6vh;
  padding: 1vh;
  border-radius: 4px;
  background: linear-gradient(45deg, #4f4e4e 0%, #000000 100%);
  margin: auto;
  user-select: none;
}

.their-turn .player-name {
  font-size: 30px;
  top: -4vh;
  background: linear-gradient(45deg, #b1a4a4 0%, #ffffff 100%);
}

.their-turn#player0 .card {
  height: 50vh;
}

.their-turn#player0 {
  bottom: 33%;
}

.tricks .card {
  height: 20vh !important;
  right: 25vh;
  cursor: auto !important;
}

.armut-give {
  display: none;
  position: absolute;
  bottom: 33%;
  left: 50%;
  transform: translate(-50%);
  flex-direction: column;
  background: rgba(200, 200, 200, 0.8);
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 3px 4px 0 #000000;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); /* why tf is it required to put -webkit in front of everything for apple */
}

.armut-cards {
  display: flex;
  text-wrap: nowrap;
  height: 30vh;
  gap: 5px;
}

.armut-cards img {
  height: 30vh;
  cursor: pointer;
  filter: drop-shadow(2px 2px 2px #000000);
}

#armut-release-button {
  margin-top: 10px;
}

#armut-release-button.waiting {
  background-color: #575757;
  color: #aeaeae;
} 

.closeX {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 12px;
  font-size: 26px;
  text-decoration: none;
  color: black;
}

#call {
  background: linear-gradient(180deg, #f1f1f1 0%, #ffffff 100%);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 2px 0 #000000;
  text-align: center;
  overflow-y: scroll;
  display: none;
  z-index: 3;
  max-height: 95%;
}

#call a {
  cursor: pointer;
  font-size: 30px;
  display: block;
  background: linear-gradient(45deg, #4f4e4e 0%, #000000 100%);
  border-radius: 5px;
  color: #f1f1f1;
  text-decoration: none;
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 7px;
  user-select: none;
}

#announcement {
  right: 17vh;
  position: absolute;
  cursor: pointer;
  font-size: 30px;
  background: linear-gradient(45deg, #4f4e4e 0%, #000000 100%);
  border-radius: 10px;
  color: #f1f1f1;
  text-decoration: none;
  padding: 8px;
  user-select: none;
  border: 4px solid #f1f1f1;
  display: none;
  text-wrap: nowrap;
}

@keyframes calling {
  0% {
    transform: translate(-10%,50%);
  }
  50% {
    transform: translate(-50%,-50%);
  }
  70% {
    transform: translate(-50%,-50%);
  }
  100% {
    transform: translate(20%,200%);
  }
}

.called {
  display: none;
  position: absolute;
  color: white;
  font-size: 10vh;
  top: -10vh;
  padding: 1vh;
  border-radius: 20px;
  background: linear-gradient(45deg, #4f4e4e 0%, #000000 100%);
  margin: auto;
  user-select: none;
  border: 8px solid #f1f1f1;
  animation: calling 1.5s forwards;
}

.admin {
  background: linear-gradient(45deg, #ff00dd 0%, #00ffea 100%) !important;
}

.lastTrick {
  display: none;
  position: fixed;
  scale: 0.75;
}

.rules h1 {
  color: #e5e5e5;
  margin-left: 10px;
}

.rules h2 {
  color: #e5e5e5;
  margin-left: 20px;
}

.rules p {
  color: #e5e5e5;
  margin-left: 40px;
  margin-right: 80px;
  margin-bottom: 50px;
  margin-top: 0px;
}


@media screen and (max-width:320px) {
  
}